<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="Control Videos">
    <meta name="author" content="Roger Mendez">
    <meta name="keywords" content="Control de Videos Para Realizar Diferentes acciones">

    <link href="{{ STATIC_URL }}css/modern.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/modern-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/site.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}js/google-code-prettify/prettify.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="{{ STATIC_URL }}js/assets/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/assets/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/assets/moment.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/assets/moment_langs.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/modern/dropdown.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/modern/accordion.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/modern/buttonset.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/modern/carousel.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/modern/input-control.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/modern/pagecontrol.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/modern/rating.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/modern/slider.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/modern/tile-slider.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/modern/tile-drag.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/modern/calendar.js"></script>

    <title>{% block title %}Control Videos{% endblock title %}</title>
</head>
<body class="metrouicss" onload="prettyPrint()">
    <div class="page">
        <div class="nav-bar">
            <div class="nav-bar-inner padding10">
                <span class="pull-menu"></span>
                <a href="/"><span class="element brand">
                    <img class="place-left" src="{{ STATIC_URL }}images/logo32.png" style="height: 20px"/>
                    {% if user.is_authenticated %}
                        {{ user.username|upper }}
                    {% else %}
                        Control de Videos <small>0.1</small>
                    {% endif %}
                </span></a>
                <div class="divider"></div>
                <ul class="menu">
                    <li>
                        <a href="/">Inicio</a>
                    </li>
                    <li>
                        <a href="">Buscar Videos</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li data-role="dropdown">
                            <a href="#">Videos</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url 'videos.views.new_video' %}">Registrar</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="{% url 'videos.views.option_video' %}">Opciones</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

<div class="page secondary">
    <div class="page-header">
        <div class="page-header-content">
            {% block titulo %}
                <h1>Videos<small>En la Tienda</small></h1>
            {% endblock titulo %}
            <a href="{% block atras %}/{% endblock atras %}" class="back-button big page-back"></a>
        </div>
    </div>

    <div class="page-region">
        <div class="page-region-content">
            <div class="grid">
                <div class="row">
                    <div class="span10">
                        {% block cuerpo %}
                        {% endblock cuerpo %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page">
        <div class="nav-bar">
            <div class="nav-bar-inner padding10">
                <span class="element">
                    2013, Videos &copy; por <a class="fg-color-white" href="mailto:Roger.Mendez,R@gmail.com">Roger Mendez</a>
                </span>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/assets/github.info.js"></script>
    <script type="text/javascript" src="js/assets/google-analytics.js"></script>
    <script type="text/javascript" src="js/google-code-prettify/prettify.js"></script>
    <script src="js/sharrre/jquery.sharrre-1.3.4.min.js"></script>

    <script>
        /*
        $('#shareme').sharrre({
            share: {
                googlePlus: true
                ,facebook: true
                ,twitter: true
                ,delicious: true
            },
            urlCurl: "js/sharrre/sharrre.php",
            buttons: {
                googlePlus: {size: 'tall'},
                facebook: {layout: 'box_count'},
                twitter: {count: 'vertical'},
                delicious: {size: 'tall'}
            },
            hover: function(api, options){
                $(api.element).find('.buttons').show();
            }
        });*/
    </script>

    </body>
</html>